annotated-types==0.7.0
blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
decorator==4.4.2
Flask==3.1.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
instagrapi==2.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
moviepy==1.0.3
numpy==2.3.1
pillow==11.3.0
proglog==0.1.12
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
PySocks==1.7.1
requests==2.32.4
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
Werkzeug==3.1.3
